.control-center, .notification-row {
    opacity: 1;
    background: #0c0a09;
    border-radius: 10px;
}

.notification {
    background: #0c0a09;
    border: 0.5px solid #c0caf5;
}

.notification-row {
    outline: none;
}

.notification-content {
    padding: 5px;
}

.notification-action {
    border-top: none;
    border-radius: 5px;
}

.notification-default-action {
    border-radius: 5px;
    margin: 0px;
}

.notification-default-action:not(:only-child) {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.notification-action:first-child {
    border-bottom-left-radius: 10px;
    background: #0c0a09;
}

.notification-action:last-child {
    border-bottom-right-radius: 10px;
    background: #0c0a09;
}

.body-image {
    margin-top: 6px;
    background-color: #c0caf5;
    border-radius: 5px;
}

.summary { font-size: 12px; }
.time { font-size: 12px; }
.body { font-size: 12px; }

.blank-window {
    background: alpha(#0c0a09, 0.1);
}

.close-button {
    background: #0c0a09;
    color: #c0caf5;
    text-shadow: none;
    padding: 0;
    border-radius: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
}